# Ignore node_modules in client and server folders
client/node_modules/
server/node_modules/

# Ignore .env file specific to server
server/.env

# Ignore package-lock.json (if npm is used) or yarn.lock (if yarn is used)
package-lock.json
yarn.lock

# Ignore .DS_Store files (macOS)
.DS_Store

# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
